config.yml
*.pyc
*cache*
*egg*
*.sqlite
flaskr/static/upload/image/*.jpg
flaskr/static/upload/image/*.png
flaskr/static/upload/image/*.jpeg
flaskr/static/upload/image/*.gif
flaskr/static/upload/image/*.bmp
