{% extends 'layout.html' %}
{% block content %}

<div class='view-split'>
    <div class='left-menu'>
        <ul>
            <li><a class='menu-btn' href='/forum/images'><span>Nya</span></a></li>
            <li><a class='menu-btn' href='/forum/places'><span>Platser</span></a></li>
            <li><a class='menu-btn' href='/forum/upload'><span>Ladda upp</span></a></li>
        </ul>
    </div>
    <div class='content'>
        {% block forumContent %}{% endblock %}
    </div>
</div>

{% endblock %}