{% extends 'forum.html' %}
{% from "_formhelpers.html" import render_field %}


{% block forumContent %}
    <form class='form' method='post' enctype='multipart/form-data'>
        <section>
            <h2>Ladda upp bild</h2>
        </section>
        <section>
            {{ render_field(form.title) }}
            {{ render_field(form.description) }}
            {{ render_field(form.place) }}
        </section>
        <section>
            {{ render_field(form.image) }}
        </section>
        <section>
            {{ render_field(form.submit) }}
        </section>
        {% if msg is not none %}
            <section>
                <p>{{ msg }}</p>
            </section>
        {% endif %}
    </form>
{% endblock%}