{% extends 'forum.html' %}
{% from "_formhelpers.html" import render_field %}


{% block forumContent %}

<div class='view-gallery'>
    {% for image in images %}
        <a href='/forum/images/image/{{ image[0].id }}'>
            <div
            class='gallery-image'
            style='background-image:
            url("{{
            url_for(
            "static",
            filename="upload/image/"+
            image[0].filename
            )
            }}");'
            >
            </div>
        </a>
    {% endfor %}
</div>
    
{% endblock%}
