{% from "_svg.html" import render_svg %}


<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <link href='https://fonts.googleapis.com/css?family=Asap' rel='stylesheet' type='text/css'>
        <link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="style/style.css") }}'>
        {% block head %}{% endblock %}
    </head>
    <body>
        <nav class='nav-bar'>
            <ul class='left'>
                <li><a class='nav-btn' href='/'><span>{{ render_svg('mountain.svg', 'white') }}</span></a></li>
                <li><a class='nav-btn' href='/'><span>Kinnekullebilder</span></a></li>
            </ul>
            <ul class='right'>
                {% if current_user is none %}
                    <li><a class='nav-btn' href='/register'><span>Registrera</span></a></li>
                    <li><a class='nav-btn' href='/login'><span>Logga in</span></a></li>
                {% else %}
                    <li><a class='nav-btn' href='/forum/profile/{{ current_user.id }}'><span>{{ current_user.first_name }}</span></a></li>
                    <li><a class='nav-btn' href='/forum'><span>Forum</span></a></li>
                    <li><a class='nav-btn' href='/logout'><span>Logga out</span></a></li>
                {% endif %}
            </ul>
        </nav>
        <div id='content'>
            {% block content %}{% endblock %}
        </div>
    </body>
    <footer>
        <script type='text/javascript' src='{{ url_for("static", filename="js/svg_color.js") }}'></script>
        {% block footer %}{% endblock %}
    </footer>
</html>