{% from "_svg.html" import render_svg %}


<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <link href='https://fonts.googleapis.com/css?family=Asap' rel='stylesheet' type='text/css'>
        <link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="style/style.css") }}'>
        {% block head %}{% endblock %}
    </head>
    <body>
        <nav class='nav-bar'>
            <ul class='left'>
                <li><a class='nav-btn' href='/'><span>{{ render_svg('mountain.svg', 'white') }}</span></a></li>
                <li><a class='nav-btn' href='/'><span>Kinnekullebilder</span></a></li>
            </ul>
            <ul class='right'>
                {% if current_user is none %}
                    <li><a class='nav-btn' href='/register'><span>Registrera</span></a></li>
                    <li><a class='nav-btn' href='/login'><span>Logga in</span></a></li>
                {% else %}
                    <li>
                        <a class='nav-btn' href='/forum/profile/{{ current_user.id }}'><span>{{ current_user.first_name }}</span>
                            {% if current_user.notifications %}
                                <span class='notify'>{{ current_user.notifications | length }}</span>
                            {% endif %}
                        </a>
                    </li>
                    <li><a class='nav-btn' href='/forum'><span>Forum</span></a></li>
                    <li><a class='nav-btn' href='/logout'><span>Logga out</span></a></li>
                {% endif %}
            </ul>
        </nav>
        <div id='content'>
            {% block content %}{% endblock %}
        </div>
    </body>
    <footer>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-49904423-11', 'auto');
            ga('send', 'pageview');
        </script>
        <script type='text/javascript' src='{{ url_for("static", filename="js/svg_color.js") }}'></script>
        {% block footer %}{% endblock %}
    </footer>
</html>
