{% extends 'layout.html' %}
{% from "_formhelpers.html" import render_field %}


{% block content %}
    <div class='view-split'>
        <form class='form' method='POST'>
            <section>
                <h2>Logga in</h2>
            </section>
            <section>
                {{form.hidden_tag()}}
                {{ render_field(form.email) }}
                {{ render_field(form.password) }}
            </section>
            {% if msg is not none %}
                <section>
                    {{ msg | safe }}
                </section>
            {% endif %}
            <section>
                {{ render_field(form.submit) }}
            </section>
        </form>
        <div class='text'>
            <section>
                <p>
                    <h2>Hej!</h2>
                    Via formuläret kan du logga in på sidan.
                </p>
            </section>
        </form>
    </div>
{% endblock %}